@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Zen+Old+Mincho:wght@400;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --content-max-width: 1240px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-black font-sans;
  }
  a {
    @apply text-black hover:text-black;
  }
  img {
    @apply max-w-full h-auto;
  }
}
